.header-container {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 7px;
    
    border-radius: 10px;
}

.AboutHeader {
    color: white;
    background-color: black;
    margin-right: 10px;
}

.ProjectsHeader {
    color: white;
    background-color: black;
    margin-right: 0px;
}

.ContactHeader {
    color: white;
    background-color: black;
    margin-left: 10px;
}
